#navSystem, .footer {
	background-color: #00aeae;
}

#jumboNav {
	background-image: url("../images/image.jpeg");
}

.lead {
	color: #e5e5e5;

}

.pageTitle {
	color: #e5e5e5;
}

.card-text {
	display: flex;
	flex-direction: row;
}